.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
}

.Header {
  background-color: black;
  color: white;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Progress {
  align-self: center;
  padding: 3rem;
  height: 100%;
  width: 80%;
}

.Playground {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainScore {
  font-size: x-large;
  font-weight: 600;
  padding: 2rem;
}

.report {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.InputBox {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}